.user-card {
  border: 1px solid #000;
  border-radius: 15px;
  max-width: calc(33% - 20px);
  padding: 20px;
  flex: 1 1 calc(33% - 40px);
}

.user-card {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}

.user-card-info {

}

.user-card-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}